---
layout: default
---

<div id="filterButtons">
    <ul id="projectlist">
        <button class="btn active" onclick="filterSelection('all')">All</button>
        <button class="btn" onclick="filterSelection('art')">Art</button>
        <button class="btn" onclick="filterSelection('photography')">Photography</button>
        <button class="btn" onclick="filterSelection('3d')">3D</button>
        <button class="btn" onclick="filterSelection('programming')">Programming</button>
    </ul>  
</div>

{% for project in site.projects reversed %}
<div class="project filterDiv {{ project.type }}">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
            <img class="thumbnail" style="left:{{ project.offsetx }} !important; top:{{ project.offsety }} !important;" src="{{ project.img }}"/>
        {% else %}
            <div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h2>{{ project.title }}</h2>
            <br/>
            <p>{{ project.year }}</p>
        </span>
        </a>
    </div>
</div>
{% endfor %}

<script src="/js/filterselection.js"></script>
